<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Airlines</th>
      <th>Flight No.</th>
      <th>Departs:</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airlines %></td>
        <td><%= f.flightNumber %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>